In [2]:
import pandas as pd
import numpy as np

In [4]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [9]:
df = pd.read_excel("daily_returns.xlsx")
df['Date']  = pd.to_datetime(df["Date"])
df = df.set_index('Date')
df.describe()

,HDFCBANK,ICICIBANK,SBIN,TCS,INFY,HCLTECH,BAJAJ-AUTO,M&M,MARUTI,HINDUNILVR,...,HINDALCO,LT,ULTRACEMCO,ADANIPORTS,BHARTIARTL,TATACOMM,INDUSTOWER,TITAN,DMART,TRENT
count,739.000000,739.000000,739.000000,739.000000,739.000000,739.000000,739.000000,739.000000,739.000000,739.000000,...,739.000000,739.000000,739.000000,739.000000,739.000000,739.000000,739.000000,739.000000,739.000000,739.000000
mean,0.029856,0.072911,0.114615,0.007218,0.030647,0.080559,0.145516,0.144467,0.080979,0.003023,...,0.116470,0.096739,0.088562,0.170402,0.137747,0.056869,0.177506,0.081271,0.018167,0.178356
std,1.154501,1.109959,1.434597,1.243185,1.504596,1.439688,1.540097,1.726995,1.268610,1.148318,...,1.790287,1.470166,1.301380,2.252128,1.265147,1.776723,2.248385,1.306813,1.621008,2.204728
min,-8.435800,-7.633600,-14.404000,-4.219100,-9.422700,-8.839400,-12.890700,-6.614300,-4.129600,-7.400400,...,-12.421700,-12.674600,-5.269800,-21.149700,-6.570300,-6.027300,-15.398300,-7.180500,-8.509200,-14.774800
25%,-0.538200,-0.494300,-0.641750,-0.657450,-0.808800,-0.682600,-0.690650,-0.860350,-0.646950,-0.589050,...,-0.783600,-0.651400,-0.716000,-0.825700,-0.570250,-0.966750,-1.003450,-0.646800,-0.827050,-0.845150
50%,0.058200,0.050800,0.099800,-0.057000,-0.016100,0.024300,0.116900,0.127800,-0.013100,-0.019900,...,0.144300,0.057300,0.062200,0.069200,0.053600,-0.012700,0.028200,0.030100,-0.023600,0.098600
75%,0.640350,0.619100,0.812050,0.629550,0.739200,0.788250,0.852000,1.101450,0.710950,0.611050,...,1.104750,0.836000,0.772500,1.059000,0.802900,0.950050,1.300250,0.816550,0.800200,1.187150
max,4.628700,4.716100,9.068500,6.632800,7.934000,7.710000,6.720400,6.531500,8.750800,5.959500,...,7.118100,6.277200,6.799800,15.301900,4.502600,10.219200,12.808900,6.715500,11.467400,18.863300

In [13]:
correlation_matrix = df.corr()
abs_correlation_matrix = correlation_matrix.abs()

In [ ]:
df_sectors = pd.read_excel('stock_categories.xlsx')
df_sectors = df_sectors.set_index('Asset')